<%- model_class = Programa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize + ' del ' + @centro.nombre %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fichas de formacion</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:centro_id) %></th>
      <th><%= model_class.human_attribute_name(:creado) %></th>
      <th><%=t '.actions', :default => t("helpers.acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @programas.each do |programa| %>
      <tr>
        <td><%= link_to 'Fichas de formacion(' + programa.fichas.count.to_s + ')', programa_fichas_path(programa), :class => 'btn btn-mini'%></td>
        <td><%= link_to programa.id, centro_programa_path(@centro,programa) %></td>
        <td><%= programa.nombre %></td>
        <td><%= programa.centro.nombre %></td>
        <td><%=l programa.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.Editar")),
                      edit_centro_programa_path(@centro,programa), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
                      centro_programa_path(@centro,programa),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.Confirmar", :default => 'Esta seguro?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.Nuevo")),
            new_centro_programa_path(@centro),
            :class => 'btn btn-primary' %>

        <%= link_to t('.back', :default => t("helpers.links.Atras")),
                    regional_centros_path(@centro.regional),
                    :class => 'btn btn' %>