<%- model_class = Programa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre_programa) %>:</strong></dt>
  <dd><%= @programa.nombre_programa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ficha_programa) %>:</strong></dt>
  <dd><%= @programa.ficha_programa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:centro_id) %>:</strong></dt>
  <dd><%= @programa.centro_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.atras")),
              centro_programas_path(@centro), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.editar")),
              edit_centro_programa_path(@centro,@programa), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.eliminar")),
              centro_programa_path(@centro,@programa),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmar", :default => 'Estas seguro?')) },
              :class => 'btn btn-danger' %>
</div>
