<%- model_class = Instructor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @instructor.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellido) %>:</strong></dt>
  <dd><%= @instructor.apellido %></dd>
  dt><strong><%= model_class.human_attribute_name(:cedula) %>:</strong></dt>
  <dd><%= @instructor.cedula %></dd>
  dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @instructor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @instructor.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:centro_id) %>:</strong></dt>
  <dd><%= @instructor.centro_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.Atras")),
              centro_instructors_path(@centro), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.Editar")),
              edit_centro_instructor_path(@centro,@instructor), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
              centro_instructor_path(@centro,@instructor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.Confirmar", :default => 'Esta seguro?')) },
              :class => 'btn btn-danger' %>
</div>
