<%- model_class = Estudiante -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombres) %>:</strong></dt>
  <dd><%= @estudiante.nombres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellidos) %>:</strong></dt>
  <dd><%= @estudiante.apellidos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cedula) %>:</strong></dt>
  <dd><%= @estudiante.cedula %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sexo) %>:</strong></dt>
  <dd><%= mostrar_genero(@estudiante.sexo) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @estudiante.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ficha_id) %>:</strong></dt>
  <dd><%= @estudiante.ficha.numeroficha %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ficha_estudiantes_path(@ficha), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ficha_estudiante_path(@ficha,@estudiante), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              centro_estudiante_path(@ficha,@estudiante),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
