<%- model_class = Centroprograma -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:centro_id) %></th>
      <th><%= model_class.human_attribute_name(:programa_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @centroprogramas.each do |centroprograma| %>
      <tr>
        <td><%= link_to centroprograma.id, centroprograma_path(centroprograma) %></td>
        <td><%= centroprograma.centro_id %></td>
        <td><%= centroprograma.programa_id %></td>
        <td><%=l centroprograma.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_centroprograma_path(centroprograma), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      centroprograma_path(centroprograma),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_centroprograma_path,
            :class => 'btn btn-primary' %>
