 <tr>
        <td><%= link_to centro.id, regional_centro_path(@regional = Regional.find(centro.regional_id), centro) %></td>
        <td><%= link_to centro.nombre, centro_programas_path(centro) %></td>
        <td><%= centro.ciudad %></td>
        <td><%= centro.regional.departamento %></td>
        <td><%= centro.codigo %></td>
        <td><%=l centro.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.Editar")),
                      edit_regional_centro_path(@regional,centro), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
                      centro_path(centro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmar", :default => 'Estas Seguro?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
 