<%- model_class = Regional -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.regionales', 'Regionales'], :model => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    <th>Centro</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:departamento) %></th>
      <th><%= model_class.human_attribute_name(:creado) %></th>
      <th><%=t '.actions', :default => t("helpers.acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @regionals.each do |regional| %>
      <tr>
        <td><%= link_to 'Centros de Formacion(' + regional.centros.count.to_s + ')' , regional_centros_path(regional), :class => 'btn btn-mini'%></td> 
        <td><%= link_to regional.id, regional_path(regional) %></td>
        <td><%= regional.departamento %></td>
        <td><%=l regional.created_at %></td>
        <td>
          <%= link_to t('.editar', :default => t("helpers.links.editar")),
                      edit_regional_path(regional), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
                      regional_path(regional),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmar", :default => 'Estas Seguro?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.Nuevo")),
            new_regional_path,
            :class => 'btn btn-primary' %>
